<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER HOME PAGE | SGB</title>

    <style>

    </style>
</head>

<body>
    <header>
        <li>
            <ul><a href="http://127.0.0.1:5000/login">Login</a></ul>
            <ul><a href="http://127.0.0.1:5000/register">Cadastro</a></ul>
        </li>
    </header>

    <main>
        <h2>Olá, bem vindo {{ nome_do_usuario }}</h2>
    </main>

    <footer>

    </footer>

    <script>

    </script>
</body>

</html>